@model MusicShop.Models.ViewModels.ProductVM

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/ProductCard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/inputs.css" asp-append-version="true" />

</head>
<body>
    <section class="flex-start">
        <div class="item1"></div>
        <div class="item2">
            <div style="display:flex;">

                <div style="margin-right:20px">
                    <div>
                        <a asp-action="Index" class="history_links" asp-controller="Home">Home</a> <img class="chevron" src="~/images/chevron-right.svg" /> <a asp-action="Index" class="history_links" asp-controller="Product">Collections</a>  <img class="chevron" src="~/images/chevron-right.svg" />
                        <a asp-action="Index" class="history_links" asp-controller="Product" asp-route-currentCollection="@Model.Collection">@Model.Collection</a>  <img class="chevron" src="~/images/chevron-right.svg" /> <span class="history_links">@Model.Name</span>
                    </div>

                    <img height="470" width="510" style="margin: 10px" id="image" src="@Url.Content(WC.ImagePath + Model.Image)" />

                </div>
                <form method="post" enctype="multipart/form-data">
                    <input asp-for="Id" hidden />
                    <input asp-for="Author.Id" id="name" hidden />


                    <div>
                        <div>
                            <div class="col-4">
                                <label class="descOpt" asp-for="Name"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="Name" />
                                <span asp-validation-for="Name" style="color:red;"></span>

                            </div>

                        </div>
                        <div>
                            <div class="col-4">
                                <label class="descOpt" asp-for="Collection"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="Collection" />
                                <span asp-validation-for="Collection" style="color:red;"></span>

                            </div>

                        </div>
                        <div>
                            <div class="col-4">
                                <label class="descOpt" asp-for="Count"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="Count" />
                                <span asp-validation-for="Count" style="color:red;"></span>

                            </div>

                        </div>
                        <div >
                            <div class="col-4">
                                <label class="descOpt" asp-for="Price"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="Price" class="form-control summernote">
                                <span asp-validation-for="Price" style="color:red;"></span>

                            </div>

                        </div>

                        <div>
                            <div style="margin-bottom:10px">
                                <label class="descOpt" asp-for="Author"></label>
                            </div>
                            <div class="select-wrapper">
                                <div class="select-arrow-3"></div>
                                <div class="select-arrow-3"></div>
                                <select id="selectAuthorID" asp-for="AuthorID">

                                    @foreach (var item in Model.AuthorIdNameHashTabl)
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                </select>
                            </div>

                        </div>

                        <div style="margin-bottom:10px">
                            <div class="descOpt" style="margin-bottom:10px">
                                Image
                            </div>
                            <div>

                                <label class="input-file">
                                    <input type="file" name="file" id="fileInput">
                                    <span>CHOOSE FILE</span>
                                </label>
                            

                            </div>
                        </div>

                        <div>
                            <div style="margin-bottom:10px">
                                <label class="descOpt" asp-for="Description"></label>
                            </div>
                            <div>
                                <textarea asp-for="Description" class="textarr" ></textarea>
                                <span asp-validation-for="Description" style="color:red;"></span>

                            </div>

                        </div>

                        <div>
                            <input type="submit" class="shopButt" style="margin-top:15px" value="UPDATE" /><br />

                            <button class="shopButt" style="margin-top:20px">
                                <a asp-action="ProductCard" class="backLink" asp-route-id="@Model.Id" asp-controller="Product">
                                    BACK
                                </a>
                            </button>
                        </div>

                      


                    </div>

                </form>
            </div>


        </div>
        <div class="item3"></div>
    </section>

</body>
</html>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        document.getElementById('fileInput').addEventListener('change', function (event) {
            var file = event.target.files[0];
            var reader = new FileReader();

            // Проверяем, что выбранный файл является jpg или png
            if (file.type === 'image/jpeg' || file.type === 'image/png') {
                reader.onload = function (e) {
                    document.getElementById('image').src = e.target.result;
                }

                reader.readAsDataURL(file);
            } else {
                alert('Пожалуйста, выберите файл в формате jpg или png');
                document.getElementById('fileInput').value = ''; // Очищаем поле выбора файла
            }
        });

        $('.input-file input[type=file]').on('change', function () {
            let file = this.files[0];
            $(this).next().html(file.name);
        });

        document.getElementById("selectAuthorID").value = document.getElementById("name").value;




    </script>

}


